{% extends 'main.html' %}
{% block body_block %}
{% load static %}

<div class="container">
    <main class="main-content">
        <div class="profile-header">
            <div class="header-gradient"></div>
            <div class="profile-image">
                {% if user_profile.role|lower == "mentee" %}
                <img src="{% static '/images/mentee.png' %}" alt="Default Profile Photo"
                    style="filter: brightness(0) invert(1);">
                {% else %}
                <img src="{% static '/images/mentor.png' %}" alt="Default Profile Photo"
                    style="filter: brightness(0) invert(1);">
                {% endif %}
            </div>
            <h1>{{ user_profile.name }}</h1>
            <h5>@{{ user_profile.user.username }}</h5>
            <h2>{% if user_profile.user != request.user %}
                <div class="connection-actions">
                    {% if connection_status == 'connected' %}
                    <button class="button"> Connected </button>
                    {% elif connection_status == 'sent' %}
                    <button disabled>Request Sent</button>
                    {% elif connection_status == 'received' %}
                    <form method="POST" action="{% url 'accept_connection_request' user_profile.user.id %}">
                        {% csrf_token %}
                        <button type="submit">Accept Request</button>
                    </form>
                    <form method="POST" action="{% url 'decline_connection_request' user_profile.user.id %}">
                        {% csrf_token %}
                        <button type="submit">Decline Request</button>
                    </form>
                    {% else %}
                    <form method="POST" action="{% url 'send_connection_request' user_profile.user.id %}">
                        {% csrf_token %}
                        <button type="submit">Connect</button>
                    </form>
                    {% endif %}
                </div>
                {% else %}
                <button class="button">This is you</em></button>
                {% endif %}
            </h2>
        </div>

        <section class="profile-card">
            <h2>Profile Details</h2>
            <p><strong>Email:</strong> {{ user_profile.email }}</p>
            <p><strong>Phone Number:</strong> {{ user_profile.phone_number }}</p>
            <p><strong>Location:</strong> {{ user_profile.location }}</p>
            <p><strong>
                    {% if user_profile.role|lower == "mentee" %}
                    <p>Role: Mentee</p>
                    {% else %}
                    <p>Role: Mentor</p>
                    {% endif %}
                </strong> </p>
            <p><strong>LinkedIn:</strong> <a href="{{ user_profile.linkedin_profile }}" target="_blank">{{user_profile.linkedin_profile }}</a></p>
            <p><strong>Working As:</strong> {{ user_profile.working_as }}</p>
        </section>

        <!-- Skills and Interests Cards Section -->
        <section class="cards-section">
            <div class="card">
                <h3>Skills</h3>
                <ul>
                    {% for skill in skills_list %}
                    <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="card">
                <h3>Interests</h3>
                <ul>
                    {% for interest in interests_list %}
                    <li>{{ interest }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <!-- Bio Section - Last in the Container -->
        <section class="bio-section">
            <h3>Bio</h3>
            <p>{{ user_profile.bio }}</p>
        </section>
    </main>
</div>



<style>
    .button {
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .container {
        display: flex;
        justify-content: center;
        /* Center the main content */
        padding-top: 25px;
    }

    .main-content {
        padding: 40px;
        max-width: 1500px;
        /* Set a max-width to make the content more readable */
        width: 100%;
        overflow: hidden;
    }

    .profile-header {
        position: relative;
        text-align: center;
        margin-bottom: 40px;
    }

    .header-gradient {
        background: linear-gradient(135deg, rgb(31, 31, 31), #292929);
        height: 150px;
        border-radius: 10px;
    }

    .profile-image {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid #ffffff;
    }

    .profile-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .profile-header h1 {
        margin-top: 130px;
        font-size: 40px;
        color: #ff006f;
        font-weight: 600;
    }

    .profile-card {
        background: linear-gradient(135deg, rgb(31, 31, 31), #292929);
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 40px;
    }

    .profile-card h2 {
        margin-top: 0;
        margin-bottom: 24px;
        font-size: 24px;
        color: #ff006f;
        font-weight: 600;
    }

    .profile-card p {
        font-size: 18px;
        margin-bottom: 15px;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    .profile-card a {
        color: #007bff;
        text-decoration: none;
        font-weight: 500;
    }

    .cards-section {
        display: flex;
        gap: 30px;
        margin-bottom: 40px;
    }

    .card {
        background: linear-gradient(135deg, rgb(31, 31, 31), #292929);
        border-radius: 10px;
        padding: 30px;
        width: 48%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .card h3 {
        font-size: 22px;
        margin-bottom: 20px;
        color: #ff006f;
        font-weight: 600;
    }

    .card ul {
        list-style: disc;
        margin-left: 20px;
        font-size: 18px;
        color: #ffffff;
    }

    .card ul li {
        margin-bottom: 10px;
    }

    .bio-section {
        background: linear-gradient(135deg, rgb(31, 31, 31), #292929);
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin-top: 40px;
    }

    .bio-section h3 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #ff006f;
        font-weight: 600;
    }

    .bio-section p {
        font-size: 18px;
        color: rgb(255, 255, 255);
    }

    .connection-actions {
        margin-top: 40px;
        text-align: center;
    }

    .connection-actions button {
        padding: 12px 30px;
        font-size: 18px;
        margin: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #007bff;
        color: #fff;
        font-weight: 600;
    }

    .connection-actions button:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }

    .connection-actions button:hover {
        background-color: #0056b3;
    }
</style>

{% endblock %}